*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none;border: none;
    text-decoration: none;
    font-weight: normal;
}
html{
    font-size: 62.5%;
    overflow: hidde;
}
body{
    /* overflow: hidden; */
    min-height: 50rem;
    display: flex;
    align-items: flex-start ;
    justify-content: space-evenly;
    /* background: linear-gradient(deeppink, purple); */
    background: linear-gradient(rgb(138, 90, 184), rgb(216, 8, 216));
    background-attachment: fixed;
    padding: 5.5rem;
    margin-bottom: 5.5rem;
}

header{
    position: fixed;
    left: 2rem;
    top: 3rem;
    width: 35rem;
    /* height: 50rem; */
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}
header.user{
    padding-top: 2rem;
}
header .user img{
    height: 15rem;
    width: 12rem;
    margin: 1rem 0;
    border-radius: 100%;
    object-fit: cover;
    box-shadow:  0 0 0 1rem rgba(255,255,255,.2);    
}
header .user .name{
    font-size: 3rem;
    color: #fff;
    padding: 2rem 0;
}
header .user .post{
    font-size: 1.8rem;
    color: #fff;
    font-weight: lighter;
}
header .navbar{
    padding: 1rem 0rem;
}
header .navbar ul li{
    margin: 1rem 0;
    list-style: none;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    transform: all .2s linear;
}
header .navbar ul li a:hover{
    background: rgba(255,255,255,.5);
    color: #555;
    transition: none;
}

section{
    padding: 2rem 7% ;
    /* margin-bottom: rem; */
}

.heading{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
}
.container{
    position: absolute;
    right: 2rem;
    min-height: 60rem;
    /* margin: 2rem 3; */
    margin-left: 2rem;
    width: 80rem;
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;
    overflow: hidden;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
}
.home h3{
    font-size: 2.5rem;
    font-weight: lighter;
    color: #eee;
}
.home .name span{
    font-size: 4rem;
    color: #fff;
}
.home .post{
    padding: 1rem 0;
}
.home .post span{
    font-size: 3rem;
    color: #fff;
}
.home .btn{
    font-size: 2rem;
    padding: .7rem 4rem;
    background: rgba(255,255,255,.2);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    margin-top: 1rem;cursor: pointer;
    transition: all .2s linear;
}
.home .btn:hover{
    background: rgba(255,255,255,.5);
    color: #555;
}
.home .share{
    position: absolute;
    left: 50%;
    bottom: 15rem;
    transform: translateX(-50%);
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    transition: .2s linear;
}
.home .share a{
    background: rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    padding: 1rem 2rem;
    margin: 1rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 1rem;
}
.home .share a:hover{
    background: rgba(255,255,255,.5);
    color: #555;
}
.about{
    min-height: 90%;
}
.about .content h3{
    font-size: 2.5rem;
    color: #eee;
}
.about .content h3 span{
    color: #fff;
}
.about .content p{
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem 0;
}
.about .skills{
    padding: 1rem 0;
}
.about .skills .progress{
    margin: 1.5rem 0;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    background: rgba(255,255,255,.2);
    border-radius: 1rem;
}
.about .skills .progress h3{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
}
.about .skills .progress .bar {
    position: relative;
    width: 100%;
    height: .3rem;
    margin: 1rem 0;
    background: #555;
    /* background: rgb(134, 68, 68); */

}
.about .skills .progress .bar span{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    /* width: 100%; */
    background: #fff;

}
.about .skills .progress:nth-child(1) .bar span{
    width: 95%;
}
.about .skills .progress:nth-child(2) .bar span{
    width: 85%;
}
.about .skills .progress:nth-child(3) .bar span{
    width: 65%;
}
.about .skills .progress:nth-child(4) .bar span{
    width: 60%;
}
